.alert-error{
    color:red;
    width:90%;
    margin:1% 5% 1% 5%;
    padding: 30px 0 30px 0;
    background: pink;
}
*{
    margin:0;
    padding:0;
    text-decoration:none;
}
body{
    background:white;
    font-size:20px;
    line-height:2;
}